<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa 
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	
	<!-- 提供一个shiroFilter的bean -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 安全管理器 -->
		<property name="securityManager" ref="securityManager"/>
		<!-- 登录页面，认证失败跳转到登录页面 -->
		<property name="loginUrl" value="/login.jsp"/>
		<!-- 认证成功页面，跳转页面 -->
		<property name="successUrl" value="/index.jsp"></property>
		<!-- 授权失败页面，跳转页面 -->
		<property name="unauthorizedUrl" value="/noAuth.jsp"></property>
		<!-- 配置shiro的过滤器 -->
		<property name="filterChainDefinitions">
			<!-- 授权的配置必须放在认证的配置之前，否则无效 -->
			<value>
				<!-- 用户授权 -->
				/pages/base/standard.jsp* = perms[standard:*]
				/pages/base/courier.jsp* = perms[courier:*]
				/pages/base/fixed_area.jsp* = perms[fixedArea:*]
				/pages/base/area.jsp* = perms[area:*]
				/pages/base/sub_area.jsp* = perms[subArea:*]
				/pages/take_delivery/waybill_quick.jsp* = perms[waybillquick:*]
				/pages/take_delivery/order.jsp* = perms[order:*]
				/pages/take_delivery/waybill.jsp* = perms[waybill:*]
				/pages/take_delivery/waybill_manage.jsp* = perms[waybillmanage:*]
				/pages/take_delivery/promotion.jsp* = perms[promotion:*]
				/pages/system/user.jsp* = perms[user:*]
				/pages/system/role.jsp* = perms[role:*]
				/pages/system/resource.jsp* = perms[resource:*]
				
				/css/**=anon
				/demo/**=anon
				/js/**=anon
				/images/**=anon
				/services/**=anon
				/user/login.action=anon
				/validatecode.jsp=anon
				/**=authc
			</value>
		</property>
	</bean>
	
	<!-- 创建shiro缓存管理器 （整合其他缓存框架：EhCache）-->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<!-- 找到ehache配置 -->
		<property name="cacheManagerConfigFile" value="classpath:ehcache.xml"></property>
	</bean>
	
	
	<!-- 提供web安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 关联缓存管理器 : 只执行一次doGetAuthorizationInfo-->
		<property name="cacheManager" ref="shiroCacheManager"/>
		<!-- 关联realm -->
		<property name="realm" ref="bosRealm"/>
	</bean>
	
	<!-- 提供bos的realm -->
	<bean id="bosRealm" class="com.itheima.bos.realm.BosRealm"></bean>
	
	
	
</beans>