<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa 
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- 创建Job -->	
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<!-- 关联自定义job对象 -->
		<property name="jobClass" value="com.itheima.bos.web.jobs.PromotionJob"></property>
	</bean>
	
	<!-- 创建Trigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 编写cron表达式 -->
		<property name="cronExpression" value="0 0 23 * * ?"/>
		<!-- 关联JobDetail -->
		<property name="jobDetail" ref="jobDetail"/>
	</bean>
	
	<!-- 创建Scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 使用自定义JobFactory -->
		<property name="jobFactory" ref="jobFactory"/>
		<!-- 关联trigger（多个） -->
		<property name="triggers">
			<list>
				<ref bean="cronTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>